@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif; 
  --font-poppins: "Poppins", sans-serif; 
  --font-baskervville: "Baskervville", sans-serif;
  --font-inter: "Inter",sans-serif;
 --font-bagel: "Bagel Fat One", cursive; 
 --font-anton: "Anton",static;
}

body {
  font-family: var(--font-poppins);
  background-color: #efefef;
}

.text-stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black; /* Adjust color and thickness as needed */
  color: transparent; /* Fallback for non-webkit browsers */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  animation: marquee 30s linear infinite; /* Adjust '30s' for speed */
  white-space: nowrap;
  display: inline-block;
}